extends layout2

block content
  if !user
   Welcome

  else
    style.
      #map {
      margin: 0px;
      height: 100%;
      padding: 0px;      
      }
      html,body {
      padding: 0px;
      margin: 0px;
      height:100%;

      }
    link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css')
    #map
